.dropdown {
    position: absolute;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    z-index: 10;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    background-color: #1e2226;
    right: -100%;
    opacity: 0;
    transition: 0.3s;
}

.dropdown.clicked {
    position: relative;
    opacity: 1;
    top: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    background-color: #1e2226;
    overflow-y: hidden;
    z-index: 10;
}


.dropbox {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    overflow-y: hidden;
    z-index: 10;
}

.container {
    display: inline-block;
    cursor: pointer;
    display: none;
    margin: 10vw 50px 0 85%;
    z-index: 15;
    position: absolute;
}

/*logo-2; logo-2 a; logo-2 img*/

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #1e2226;
    border-radius: 50px;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    background-color: white;
}

.change .bar2 {
    opacity: 0;
    background-color: white;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-9px, -8px);
    transform: rotate(45deg) translate(-9px, -8px);
    background-color: white;
}

.logo-2 {
    position: relative;
    margin: 10vw auto 0 auto;
    width: 55%;
    z-index: 5000;
}

.lgo-2 a {
    z-index: 5000;
}


.logo-2 img {
    width: 100%;
    z-index: 5000;
}

.list {
    list-style: none;
    margin-top: 15%;
    padding: 0;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 9vw;
    max-height: 100%;
}

.list li {
    margin-bottom: 10%;
}

.list li:hover {
    color: #91a580;
}

.promotion-tab {
    background-color: #91a580;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 0.5em 5% 0.5em 5%;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

.promo-text {
    letter-spacing: 2px;
    margin-right: 5%;
}

.promo-info {
    letter-spacing: 2px;
}

.promo-link {
    text-decoration: underline;
}

.head-buttons {
    display: flex;
    justify-content: flex-end;
    margin: 1em 4em 0 0;
}

.head-button {
    padding: 0 0.5em;
    transition: all .2s ease-in-out;
}

.head-button img {
    width: 40px;
}

.head-button:hover {
    transform: scale(1.1);
}

.body {
    width: 90%;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: flex-end;
    width: 90%;
    margin: 0 auto;

}

.nav {
    margin-left: 30px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    border-bottom: solid #91a580 3px;
    font-size: 20px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

.nav-button {
    padding: 0 0.4em;
    text-align: center;
}

.nav-button:hover {
    color: #91a580;
}

#main-cat {
    font-weight: 700;
}

.content {
    width: 100%;
    margin: 0 auto;
}

.categories {
    border: solid 1px grey;
    min-width: 250px;
    margin-top: 50px;
    font-family: 'Raleway', sans-serif;
}

.cat-head-pc,
.cat-head-phone {
    background-color: #91a580;
    padding: 1vw 0;
    text-align: center;
    color: white;
}

.cat-head-phone {
    display: none;
    font-size: 6vw;
}

.cat-head-pc {
    font-size: 30px;
}

.flip-head {
    margin: 0 auto;
}

.cat-drop {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.flip-1,
.flip-2,
.flip-3,
.flip-4,
.flip-5 {
    display: flex;
    justify-content: space-between;
    padding: 0.5vw 0;
}

.flip-1:hover,
.flip-2:hover,
.flip-3:hover,
.flip-4:hover,
.flip-5:hover {
    color: #91a580;
}

.hair-cat,
.shaving-cat,
.accessories-cat,
.cosmetics-cat,
.body-cat {
    border-top: solid 1px grey;
    text-align: left;
    font-size: 23px;
}

.cat {
    padding: 10px
}

#flip-1,
#flip-2,
#flip-3,
#flip-4,
#flip-5,
#flipper-1,
#flipper-2 {
    margin: auto 5px auto 0;
}


.plus-1,
.plus-2,
.plus-3,
.plus-4,
.plus-5 {
    width: 3vw;
    max-width: 30px;
    min-width: 20px;
    display: block;
}

.plus-1.clicked,
.plus-2.clicked,
.plus-3.clicked,
.plus-4.clicked,
.plus-5.clicked,
.plus.clicked {
    display: none;
}

.minus-1,
.minus-2,
.minus-3,
.minus-4,
.minus-5 {
    width: 3vw;
    max-width: 30px;
    min-width: 20px;
    display: none;
}

.plus {
    width: 6vw;
    max-width: 40px;
    min-width: 30px;
    display: block;
}

.minus {
    width: 6vw;
    max-width: 40px;
    min-width: 30px;
    display: none;
}

.minus-1.clicked,
.minus-2.clicked,
.minus-3.clicked,
.minus-4.clicked,
.minus-5.clicked,
.minus.clicked {
    display: block;
}

#panel-1,
#panel-2,
#panel-3,
#panel-4,
#panel-5 {
    display: none;
    border-top: solid 1px grey;
    text-align: center;
    background-color: #ececec;
    padding: 20px 0;
}

.content {
    display: flex;
}

.items {
    margin-top: 50px;
    width: 100%;
}

.sorting {
    text-align: right;
}


.products-1,
.products-2,
.products-3,
.products-4,
.products-5,
.products-6,
.products-7,
.products-8 {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 30px;
    flex-wrap: wrap;
}

.filter-2,
.filter-3,
.filter-4,
.filter-5,
.filter-6,
.filter-7,
.filter-8 {
    display: none;
}

#link-1,
#link-2,
#link-3,
#link-4,
#link-5,
#link-6,
#link-7,
#link-8 {
    cursor: pointer;
}

#link-1,
#link-3,
#link-5 {
    margin-bottom: 15px;
}

#link-2,
#link-4,
#link-6 {
    margin-top: 15px;
}

.product-box {
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3vw;
    text-align: center;
}

.product-block-pc {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    transition: all .2s ease-in-out;
}

.product-block-pc:hover {
    transform: scale(1.02);
}

.product-pc {
    width: 100%;
}


.sorting {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1;
    font-family: 'Raleway', sans-serif;
}

.sort-list {
    margin-left: 15px;
    z-index: 1;
    min-width: 200px;
}

.drop-list {
    display: none;
    position: absolute;
    text-align: left;
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    min-width: 198px;
    background-color: white;
    z-index: 5000;
    padding: 10px 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #ececec;
}

.filter {
    padding: 5px 10px;
    cursor: pointer;
}

.filter:hover {
    color: #91a580;
}

.default {
    display: block;
    display: flex;
    justify-content: space-around;
    border: solid 1px black;
    border-radius: 10px;
    padding: 5px 10px;
    z-index: 1;
    cursor: pointer;
    transition: 0.4s;
}

.default.change {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.expand,
.contract {
    max-width: 20px;
    max-height: 20px;
    z-index: 1;
}

.expand {
    display: block;
}

.expand.clicked {
    display: none;
}

.contract {
    display: none;
}

.contract.clicked {
    display: block;
}

.top-footer {
    background-color: #1e2226;
    display: flex;
    justify-content: space-around;
    color: white;
    font-family: 'Raleway', sans-serif;
    padding: 30px 0;
}

.top-footer h2 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
    margin: 0;
    margin-bottom: 10px;
}

.bottom-footer {
    background-color: #91a580;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.bottom-footer h3 {
    margin: 0;
}

.bottom-footer img {
    width: 2vw;
    min-width: 40px;
}

.insta,
.facebook {
    margin: 10% 10%;
    transition: all .2s ease-in-out;
}

.insta:hover,
.facebook:hover {
    transform: scale(1.05);
}

.hours ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.email {
    margin-top: 30px;
}

.some {
    display: flex;
}

.wrapper {
    min-height: 100%;
    position: relative;
}

.body {
    padding-bottom: 350px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.contacts {
    display: flex;
    flex-direction: column;
}


@media only screen and (min-width: 1200px) {
    .nav {
        font-size: 25px;
    }

}

@media only screen and (max-width: 992px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav {
        margin-left: 0;
        margin-top: 30px;
        font-size: 18px;
    }

    .product-box {
        width: 48%;
        margin-bottom: 10px;
    }

    .categories {
        min-width: 25vw;
    }

    .hair-cat,
    .shaving-cat,
    .accessories-cat,
    .cosmetics-cat,
    .body-cat {
        font-size: 18px
    }

    .cat-head-pc {
        font-size: 25px;
    }

}

@media only screen and (min-width: 600px) {
    .dropdown {
        display: none;
    }
}

@media only screen and (max-width: 600px) {

    .head-buttons,
    .nav,
    .promotion-tab {
        display: none;
    }

    .items {
        width: 90%;
        margin: 10% auto 0 auto;
    }

    .products-1,
    .products-2,
    .products-3,
    .products-4,
    .products-5,
    .products-6,
    .products-7,
    .products-8 {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }

    .product-box {
        width: 100%;
    }

    .logo {
        margin: 10vw auto 0 auto;
        width: 55%;
    }

    .logo img {
        width: 100%;
    }

    .container {
        display: block;
    }

    .content {
        width: 100%;
        margin: 0 auto;
        flex-direction: column;
    }

    .flip {
        display: flex;
        justify-content: space-between;
    }

    .main-flip {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    .filter-toggle {
        display: none;
    }

    .cat-head-pc {
        padding: 3vw 0;
        display: none;
    }

    .cat-head-phone {
        padding: 3vw 0;
        display: block;
        text-align: center;
    }

    .flip {
        padding: 1vw 0
    }

    .product-box {
        margin-bottom: 40px;
        text-align: center;
    }

    .sorting {
        width: 100%;
        justify-content: flex-end;
        align-items: center;
        text-align: left;
    }

    .wrapper {
        overflow-x: hidden !important;
    }

    .body {
        padding-bottom: 100px;
    }

    .top-footer {
        display: none;
    }
}
